@{
    ViewData["Title"] = "Enrollment";
}

<div class="container-fluid p-0">
    <!-- Enrollment Main Section -->
    <div class="enrollment-main rounded d-flex align-items-center justify-content-center text-center position-relative">
        <div class="container-fluid p-0">
            <div class="enrollmentword-content bg-dark bg-opacity-50 rounded p-4">
                <h1 class="display-1 text-white">ENROLLMENT & REQUIREMENTS</h1>
                <a href=@Url.Action("Add", "Students") class="btn btn-warning btn-lg">Enroll Now</a>
            </div>
        </div>
    </div>

    <!-- Requirements Content Section -->
    <div class="container-fluid">
        <div class="row g-0 align-items-start bg-gradient text-black" style="width: 100vw; margin: 0;">

            <!-- Left Side: Requirements Text -->
            <div class="requirement-text col-md-8 text-start p-4">
                <!--HEADER-->
                <hr />
                <h1>ELEMENTARY DEPARTMENT REQUIREMENTS</h1>
                <br />
                <h3>New Pupils (Nursery - Kinder)</h3>
                <p>(1) NSO Birth Certificate</p>
                <br />
                <h3>Transferees & returnees (Grade 1-6)</h3>
                <p>
                    (1) NSO Birth Certificate<br />
                    (2) Report Card<br />
                    (3) Certificate of Good Moral
                </p>
                <br />
                <h3>Continuing Pupils</h3>
                <p>(1) Report Card</p>
                <!-- FOOTER -->
                <div class="mb-2" style="color:rgb(221, 133, 32); font-size: 23px;">
                    universityofcebubanilad@gmail.com / 434 - 8453
                </div>
                <hr />
                <br />
                <hr />
                <!--HEADER-->
                <h1>JUNIOR HIGH SCHOOL REQUIREMENTS</h1>
                <br />
                <h3>New Students (Grade 7)</h3>
                <h3>Transferees (Grade 8-10)</h3>
                <p>(1) Form 138 - Report Card (Original)</p>
                <p>(2) Form 137 (Original & 3 copies)</p>
                <p>(3) 1X1 ID pictures (2 copies)</p>
                <p>(4) 2X2 ID pictures (2 copies)</p>
                <p>(5) Certificate of Good Moral (Last school attended)</p>
                <p>(6) PSA Birth Certificate / NSO (Original & 3 copies)</p>
                <p>(7) Long Brown Envelope (2 pieces)</p>
                <p>(8) Long Folder (2 pieces)</p>
                <br />
                <h3>Continuing Students (Grade 8-10)</h3>
                <p>(1) Form 138 - Report Card (Original)</p>
                <p>(2) PSA Birth Certificate / NSO (Original & 3 copies for those who haven't completed yet)</p>
                <p>(3) 2X2 ID pictures (4 copies with white background)</p>
                <hr />
                <br />
                <hr />
                <!--HEADER-->
                <h1>SENIOR HIGH SCHOOL REQUIREMENTS</h1>
                <h3>New Students (Grade 11)</h3>
                <p>(1) Soft Copy of Form 138 and NCAE Result</p>
                <p>(2) Form 138 - Report Card (Original and 3 copies)</p>
                <p>(3) Form 137 (Original & 3 copies)</p>
                <p>(4) Certificate of JHS Completion (Original & 3 copies)</p>
                <p>(5) 1x1 ID pictures (2 copies with white background)</p>
                <p>(6) 2x2 ID pictures (2 copies with white background)</p>
                <p>(7) Certificate of Good Moral (original and photocopy)</p>
                <p>(8) PSA Birth Certificate / NSO (Original & 3 copies)</p>
                <p>(9) Long Brown Envelope (2 pieces)</p>
                <p>(10) Long Folder (2 pieces)</p>
                <p>(11) ESC Certification (graduated from private school)</p>
                <br />
                <h3>SHS Transferees (Grade 12)</h3>
                <p>(1) Soft Copy of Form 138</p>
                <p>(2) Form 138 - Report Card (Original)</p>
                <p>(3) Form 137 (Original & 3 copies)</p>
                <p>(4) 1x1 ID pictures (2 copies with white background)</p>
                <p>(5) 2x2 ID pictures (2 copies with white background)</p>
                <p>(6) Certificate of Good Moral (last school attended)</p>
                <p>(7) PSA Birth Certificate / NSO (Original & 3 copies)</p>
                <p>(8) Long Brown Envelope (2 pieces)</p>
                <p>(9) Long Folder (2 pieces)</p>
                <br />
                <h3>Continuing Students (Grade 12)</h3>
                <p>(1) Form 138 - Report Card (Original)</p>
                <p>(2) 2x2 ID pictures (2 copies with white background)</p>
                <p>(3) PSA Birth Certificate / NSO (For those who haven't compiled yet)</p>
                <p>(4) Long Brown Envelope (2 pieces)</p>
                <hr />
            </div>
            <!-- Right Side: Image -->
            <div class="col p-0 image-wrapper">
                <img src="~/images/adults.jpg" alt="Requirements Image" class="img-fluid rounded shadow" style="height: 100vh; width: 200vw;">
                <img src="~/images/flag.jpg" alt="Requirements Image" class="img-fluid rounded shadow" style="height: 100vh; width: 200vw;">
                <img src="~/images/ccs.jpg" alt="Requirements Image" class="img-fluid rounded shadow" style="height: 100vh; width: 200vw;">
                <img src="~/images/confetti.jpg" alt="Requirements Image" class="img-fluid rounded shadow" style="height: 41vh;">
            </div>
        </div>


        <!-- COLLEGE REQUIREMENTS [Start] -->
        <div class="row g-0" style="font-size: 1.74vw; width: 100vw; height: 85vh; background-image: url('images\yose.jpg'); background-size: cover; background-repeat: no-repeat;">
            <div class="container" style="background-color: rgba(3, 2, 34, 0.8);">
                <h1 class="text-center p-3" style="color:#ffffff; font-family: 'Sitka Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    COLLEGE ENROLLMENT REQUIREMENTS</h1>
                <div class="row mb-5 d-flex justify-content-center">
                    <div class="col-5 p-5" style="background-color: white;">
                        <!--------------------------------------------------->
                        <h3 style="color: #030222;">New Students (Freshmen)</h3>
                        <hr />
                        <p class="mt-1" style="font-size: 2.15vw; font-family: 'Sitka Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            (1) Original PSA OR NSO<br />
                            (2) Original Good Moral<br />
                            (3) Original Report Card or Form 138<br />
                            (4) Entrance Exam Result<br />
                            (5) 1 long white folder with fastener<br />
                            (6) Certificate of Marriage<br />
                            (If Married)
                        </p>
                        <!--------------------------------------------------->
                    </div>
                    <div class="col-5 p-5" style="background-color: white;">
                        <!--------------------------------------------------->
                        <h3 style="color: #030222;">Transferees</h3>
                        <hr />
                        <p class="mt-1" style="font-size: 2.15vw; font-family: 'Sitka Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            (1) Transfer Credential<br />
                            (5) Certificate of Marriage<br />
                            (If Married)
                        </p>
                        <!--------------------------------------------------->
                    </div>
                </div>
            </div>
        </div>
        <!-- COLLEGE REQUIREMENTS [END] -->
    </div>

    <!-- FOOTER [START] -->
  <footer class="container-fluid" style="background-color: rgb(7, 7, 44); width: 100vw; margin: 0; color: white;">
    <div class="container">
      <div class="row">

        <div class="col-sm left-socmedcontent"><!-- 1st Column [START] -->
          <h4 class="mb-4 mt-4" style="color: #E95C0E; width: 25vw;">UNIVERSITY OF CEBU - BANILAD</h4>
          <!-- Location -->
          <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>&nbsp;
          <label class="mb-3" style="font-size: 15px;">Gov. M. Cuenco Ave, Cebu City</label><br/>
          <!-- Phone -->
          <i class="fa-solid fa-phone" style="color: #ffffff;"></i>&nbsp;
          <label class="mb-3" style="font-size: 15px;">438-8453</label><br/>
          <!-- Email -->
          <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>&nbsp;
          <label class="mb-3" style="font-size: 15px;">universityofcebubanilad@gmail.com</label>
        </div><!-- 1st Column [END] -->

        <div class="col-sm"><!-- 2nd Column [START] -->
          <h5 class="mb-4 mt-4">QUICK NAVIGATION</h5>
          <ul class="quick-navigation" style="list-style-type: none; padding: 0;">
            <li class="m-2"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="m-2 current-page">Enrollment</li>
            <li class="m-2"><a href="@Url.Action("List", "StudentEnrollment")">Student's Enrollment List</a></li>
            <li class="m-2"><a href="@Url.Action("List", "Students")">List of Students</a></li>
            <li class="m-2"><a href="@Url.Action("List", "SubjectEntry")">List of Subjects</a></li>
            <li class="m-2"><a href="@Url.Action("List", "Schedules")">List of Schedules</a></li>
            <li class="m-2"><a href="@Url.Action("About", "Home")">About</a></li>
          </ul>
        </div><!-- 2nd Column [END] -->

                <div class="col-sm ">
                    <!-- 3rd Column [START] -->
                    <h5 class="mb-3 mt-4" style="text-align:center;">CONNECT WITH US</h5>
                    <div class="social-media">
                        <!-- Facebook -->
                        &nbsp;
                        <a class="fa-brands fa-facebook fa-xl" href="https://www.facebook.com/UniversityOfCebuBaniladStudentsAdmin"></a>
                        <!-- Instagram -->
                        <span class="noselect">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a class="fa-brands fa-instagram fa-xl" href="https://www.instagram.com/explore/locations/607162724/university-of-cebu-banilad-campus/"></a>
                        <!-- YouTube -->
                        <span class="noselect">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a class="fa-brands fa-youtube fa-xl" href="https://www.youtube.com"></a>
                    </div>
                </div><!-- 3rd Column [END] -->


        <div class="col-sm"><!-- 4th Column [START] -->
          <div class="mb-3 mt-5 uc-imagebtn" style="position: relative;">
            <img style="opacity: 0.35; width: 100%; height: auto; margin-left: 100px; padding-bottom: 50px;" src="~/images/UC_LOGO.png">
          </div>
        </div><!-- 4th Column [END] -->

      </div>
    </div>
  </footer>
  <!-- FOOTER [END] -->

</div>
